.menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	&[aria-expanded="true"] {
		display: block;
	}

	.menu-wrap {
		position: relative;
		z-index: 999;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	a {
		color: var(--color-light);
		text-decoration: none !important;
	}

	.menu__nav {
		position: fixed;
		z-index: 2;
		top: 18vh;
		left: 20vw;
		height: 100%;

		@include mq("sm") {
			top: 15vh;
			left: 12vw;
		}

		ul {
			li {
				a {
					@include transition-fast;
					font-size: 56px;
					line-height: 1;
					color: var(--color-gray-medium);

					@include mq("md") {
						font-size: 40px;
					}

					@include mq("sm") {
						font-size: 36px;
					}

					@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
						@include transition-medium;
						
						&:hover {
							color: var(--color-light);
						}
					}

					&:active {
						color: var(--color-light);
					}
				}
			}
		}
	}

	.menu__sections {
		position: fixed;
		z-index: 1;
		width: 100%;
		padding-top: 18vh;
		padding-bottom: 18vh;
		overflow-y: auto;
		padding-left: 50%;
		height: 100%;

		@include mq("sm") {
			padding-top: 15vh;
			padding-bottom: 15vh;
		}

		ul {
			li {
				a {
					@include transition-fast;
					font-size: 45px;
					line-height: 1;
					color: var(--color-gray);

					@include mq("md") {
						font-size: 25px;
					}

					@include mq("sm") {
						font-size: 22px;
					}

					@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
						@include transition-medium;
						
						&:hover {
							color: var(--color-gray-medium);
						}
					}

					&:active {
						color: var(--color-gray-medium);
					}
				}
			}
		}
	}

	.menu__background {
		z-index: 995;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: var(--color-dark);
	}
}