.menu__toggle {
	position: fixed;
	left: calc(50% - #{$width-button-toggle / 2});
	top: 5vh;
	z-index: 1000;
	border: none;
	background: none;
	outline: none;
	width: $width-button-toggle;
	height: $width-button-toggle;
	padding: 0;
	cursor: pointer;

	span {
		@include transition-medium;
		position: absolute;
		content: "";
		left: 0;
		width: $width-button-toggle;
		height: 2px;
		background: var(--color-dark);
		top: #{($width-button-toggle * 2/6) - 1px};

		&:nth-of-type(2) {
			top: #{($width-button-toggle / 2) - 1px};
		}

		&:last-of-type {
			top: #{($width-button-toggle * 4/6) - 1px};
		}
	}

	.menu-opened & {
		span {
			background: var(--color-light);

			&:first-of-type {
				opacity: 0;
			}
			
			&:nth-of-type(2) {
				transform: rotate(-45deg);
			}
	
			&:last-of-type {
				transform: rotate(45deg);
				top: #{($width-button-toggle / 2) - 1px};
			}
		}
	}
}