@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	animation-name: fadeIn;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.fadeOut {
	animation-name: fadeOut;
}

@keyframes fadeInUp {
	from {
		transform: translate3d(0, 25%, 0);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

.fadeInUp {
	animation-name: fadeInUp;
}

@keyframes fadeOutUp {
	from {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	to {
		opacity: 0;
		transform: translate3d(0, -25%, 0);
	}
}

.fadeOutUp {
	animation-name: fadeOutUp;
}

.animate {
	animation-duration: 1s;
	animation-fill-mode: both;

	&.fast {
		animation-duration: 500ms;
	}
	
	&.slow {
		animation-duration: 2s;
	}
}