// Flex
@mixin flex() {
	display: flex;
}

@mixin flex-direction($direction: column) {
	flex-direction: $direction;
}

@mixin flex-wrap($wrap: wrap) {
	flex-wrap: $wrap;
}

@mixin align-items($align: center) {
	align-items: $align;
}

@mixin justify-content($justify: center) {
	justify-content: $justify;
}

@mixin flex-center() {
	@include flex;
	@include align-items;
	@include justify-content;
}

@mixin flex-col($width) {
	flex: 0 0 $width;
	@if $width == 'auto' {
		max-width: 100%;
	} @else {
		max-width: $width;
	}
}

// Rotations
@mixin rotate($degree: -90deg) {
	transform: rotate($degree);
}

// Rounded corners
@mixin rounded($radius: $border-radius) {
	border-radius: $radius;
}

@mixin rounded-bottom($radius: $border-radius) {
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin rounded-left($radius: $border-radius) {
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}

@mixin rounded-right($radius: $border-radius) {
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin rounded-top($radius: $border-radius) {
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin shadow-none {
	box-shadow: none !important;
}

// Transition
@mixin transition-fast() {
	transition: all $transition-fast;
}

@mixin transition-medium {
	transition: all $transition-medium ease-in-out;
}

// img cover
@mixin img-container($height) {
	position: relative;
	overflow: hidden;
	padding-top: $height;

	img {
		object-fit: cover;
		object-position: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}

// Media queries
$breakpoints_width: (
	"xs" : 321px,
	"sm" : 577px,
	"md" : 769px,
	"lg" : 993px,
	"xl" : 1025px,
	"xxl": 1201px
);

$breakpoints_height: (
	"xs" : 0,
	"sm" : 576px,
	"md" : 768px,
	"lg" : 992px
);

@mixin mq($size, $type: max, $direction: horizontal) { // (["xs", "sm", "md", "lg", "xl/null", "xxl/null"], null/"min", null/vertical)
  @if $direction == vertical {
    @if map_has_key($breakpoints_height, $size) {
      $height: map_get($breakpoints_height, $size);
      @if $type == min {
        $height: $height + 1px;
      }
      @media only screen and (#{$type}-height: $height) {
        @content;
      }
    }
	} @else {
		@if map_has_key($breakpoints_width, $size) {
			$width: map_get($breakpoints_width, $size);
			@if $type == min {
				$width: $width + 1px;
			}
			@media only screen and (#{$type}-width: $width) {
				@content;
			}
		}
  }
}