@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
	font-style: normal;
	font-weight: normal;
	line-height: 1.4;
	color: var(--color-text);
	font-family: $font-family;
	font-size: 17px;
}

body {
	font-size: 16px;
	line-height: 1.4;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior-y: none;
}

a {
	cursor: pointer;
	text-decoration: none;

	@media (hover) , (min-width:0\0) , (min--moz-device-pixel-ratio:0){
		&:hover:not(.button) {
			text-decoration: underline;
		}
	}

	&:active:not(.button) {
		text-decoration: underline;
	}
}