// Colors
:root {
	--color-dark				: #252525;
	--color-gray				: #494949;
	--color-gray-medium	: #8b8b8b;
	--color-light				: #eee;
}

$width-button-toggle: 30px;

$font-family: "Bebas Neue", sans-serif;

$border-radius: 8px;

$transition-fast: 0.1s;

$transition-medium: 0.25s;