<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Menu
	body
		button#menu-toggle.menu__toggle
			span
			span
			span
		#menu.menu(aria-expanded="false")
			.menu-wrap
				nav.menu__nav
					ul
						each value in ['Home', 'About', 'Projects', 'Contacts']
							li
								a(href="javascript:void(0);")= value
				nav.menu__sections
					ul
						each value in ['Cars', 'IT', 'Products', 'Technology', 'Tourism', 'Code', 'Music', 'Educations', 'Medicine', 'Services', 'Delivery']
							li
								a(href="javascript:void(0);")= value
						each value in ['Cars', 'IT', 'Products', 'Technology', 'Tourism', 'Code', 'Music', 'Educations', 'Medicine', 'Services', 'Delivery']
							li
								a(href="javascript:void(0);")= value
			.menu__background